{% extends 'base.html.twig' %}

{% block body %}
  <div class="row align-items-start g-5 py-5">
    <div class="col-lg-5">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">{{ car.brand }}</h1>
      <p class="lead">{{ car.description }}</p>
      <div class="d-grid gap-2 gap-md-3 mt-4 showCar">
        <p class="showCarDetails">Modèle</p>
        <p class="card-text text-center">{{ car.model }}</p>
        <p class="showCarDetails">Année de mise en circulation</p>
        <p class="card-text text-center">{{ car.releaseYear }}</p>
        <p class="showCarDetails">Prix</p>
        <p class="card-text text-center">{{ car.price }} €</p>
        <p class="showCarDetails">Carburant</p>
        <p class="card-text text-center">{{ car.technical }}</p>
        <p class="showCarDetails">Kilométrage</p>
        <p class="card-text text-center">{{ car.mileage }} km</p>
        <p class="showCarDetails">Type de boite</p>
        <p class="card-text text-center">{{ car.feature }}</p>
        <p class="showCarDetails">Equipement(s)</p>
        <p class="card-text text-center">{{ car.equipement }}</p>
        <p class="showCarDetails">Option(s)</p>
        <p class="card-text text-center">{{ car.moreOption }}</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-4">
          <a href="{{ path('app_contact', {'subject' : 'Demande d\'information pour la ' ~ car.brand ~ ' ' ~ car.model }) }}" class="btn btn-primary btn-lg px-4 gap-3">Contacter pour ce véhicule</a>
        </div>
      </div>
    </div>
    <div class="col-lg-7">
    {% if car.imageName %}
      <img src="{{ vich_uploader_asset(car, 'imageFile') }}" class="card-img-top" alt="photo de {{ car.brand }}">
      <div class="row mt-3">
      {% for image in carImages %}
        <div class="col-4">
          <img src="{{ vich_uploader_asset(image, 'imageFile') }}" class="card-img-top" alt="photos supplémentaires de la voiture">
        </div>
      {% endfor %}
      </div>
      {% else %}
        <img src="{{ asset('build/images/default-image.png') }}" class="card-img-top" alt="photo de {{ car.brand }}">
    {% endif %}
    <div class="breadcrumbs">
      <div class="d-flex justify-content-end">
        <a href="javascript:history.back(1)">Revenir à la page précédente</a>
      </div>
    </div>
  </div>

  </div>
{% endblock %}