{% extends 'base.html.twig' %}

{% block title %}
    Garage V. Parrot - Inscription
{% endblock %}

{% block body %}
    <section class="container">
        <div class="row">
            <h1>Inscription</h1>
            <div class="col-md-8 mx-auto">
            {{ form_errors(registrationForm) }}
                {{ form_start(registrationForm) }}
                    <fieldset class="mb-3">
                        <legend>Mes informations</legend>
                        {{ form_row(registrationForm.firstName) }}
                        {{ form_row(registrationForm.name) }}
                        {{ form_row(registrationForm.email) }}
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Password'
                        }) }}
                    </fieldset>
                    {{ form_row(registrationForm.rgpdconsent) }}
                    <div class="d-flex justify-content-evenly my-4">
                        <button type="submit" class="btn btn-primary">M'inscrire</button>
                        <a href="{{ path('app_login') }}" class="btn btn-outline-secondary">Me connecter</a>
                    </div>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </section>
{% endblock %}