{% extends 'base.html.twig' %}

{% block title %}
    Garage V. Parrot - Contact
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4">Contacter l'atelier</h1>
        {% for label, messages in app.flashes(['success', 'warning']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <div class="col-md-8 mx-auto mb-4">
            {{ form_start(form) }}
                {% if contactSubject is defined %}
                    {{ form_row(form.subject, {'value': contactSubject}) }}
                {% endif %}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
