{% extends 'base.html.twig' %}

{% block title %}Garage V. Parrot - Modification du mot de passe{% endblock %}

{% block body %}
    <h1>Modification du mot de passe</h1>
    {# read and display several types of flash messages #}
    {% for label, messages in app.flashes(['success', 'warning']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {{ form_start(form) }}
        {{ form_row(form.plainPassword) }}
        <button class="btn btn-primary mt-4">Changer</button>
    {{ form_end(form) }}



{% endblock %}
