{% extends 'base.html.twig' %}

{% block title %}
    Garage V. Parrot - Modification du mot de passe
{% endblock %}

{% block body %}
    <h1>Modification du mot de passe</h1>
    {% for label, messages in app.flashes(['success', 'warning']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="col-md-8 mx-auto">
        {{ form_start(form) }}
            {{ form_row(form.plainPassword) }}
            <div class="text-center mb-4">
                <button class="btn btn-primary mt-4">Changer</button>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}